<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carrer Fair</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
  </head>
  <body>
    <!-- header start --------------------------------------------------------->

    <% include partials/header.ejs %>

    <!-- header end ----------------------------------------------------------->

    <!-- navigation start ----------------------------------------------------->

      <% include partials/navigation.ejs %>

    <!-- navigation end ------------------------------------------------------->
      <h1 class="aboutHeadingLarge ">
        <span class="border orangeclr">Contact Us</span>
      </h1>
      <main >
          <div>
              <div class="maContact">
                <h3>&#128231; Mail12345@edu.in</h3>
                <h3>&#128222;1234567890</h3>
                <h3>&#127968; Office Location</h3> 
              </div>
          </div>
      </main>

        <!-- Footer start ------------------------------------------------------->

          <% include partials/footer.ejs %>

        <!-- Footer end --------------------------------------------------------->
  </body>
</html>
