<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carrer Fair</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
  </head>
  <body>
    <!-- navigaion start ------------------------------------------------------>

    <nav class="darkbackground">
      <a class="clr" href="../connections" >Companies</a>
      <a href="#"></a>
    </nav>

    <!-- navigaion end -------------------------------------------------------->

  </body>
