<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carrer Fair</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
  </head>
  <body>
<!-- header start ------------------------------------------------------------->
    <% include partials/header.ejs %>


<!-- header end ------------------------------------------------------------->
<!-- nav start ------------------------------------------------------------->

    <% include partials/navigation.ejs %>
<!-- nav end ------------------------------------------------------------->

      <h1 class="headingLarge">
        <span class="border orangeclr">Carrer Fairs</span>
      </h1>
<!-- card for main content start ------------------------------------------------>
      <div class="icard" >

<!-- main content start ------------------------------------------------------->
        <main >
          <div >
            <p class="whiteclr">
                  CSSE/Career Services strives to assist students and alumni in identifying, planning, and implementing education and employment strategies. We offer the following services:

                      Career and internship exploration and planning
                      Resuming and cover letter building
                      Interview preparations
                      Making connections with key employers, both locally and nationally
                      Professional development workshops, resources, and events that help students plot their career trajectories in preparation for the contemporary workplace.
                      Internships: Build workplace skills and gain real-world experience that makes you more marketable to employers after graduation.

                      Study Abroad: Enrich your academic experience and expand your view of the world.
            </p>
          </div>
        </main>
<!-- main content end ----------------------------------------------------------------->
      </div>
<!-- card for main content end --------------------------------------------------------->

<!-- aside start ----------------------------------------------------------------------->
    <aside  class="ma">
      <div >
        <h3 class="orangeclr">
          Contact Us
        </h3>
        <p>&#128231; Mail12345@edu.in</p>
        <p>&#128222; 1234567890</p>
        <p>&#127968; Office Location</p>
      </div>
    </aside>
<!-- aside end -->

<!-- footer start -->
    <% include partials/footer.ejs %>
<!-- footer end -->
  </body>
</html>
