<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carrer Fair</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
  </head>
  <body>
    <!-- header start --------------------------------------------------------->
    <header>
      <a href="/"><img class="indeximg Logoimg" src="../assets/images/CarrerFair.jfif" alt="CarrerFair" ></a>
        <nav class="navBar">
          <a class=" notallowed" href="../newConnection" >Start New Connection    </a>&nbsp;|
          <a class="clr change" href="savedConnections/logout" >Logout</a>&nbsp;|
          <a class="clr change" href="../savedConnections">My connections</a>
        </nav>
    </header>
    <!-- header end --------------------------------------------------------->
  </body>
