<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carrer Fair</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
  </head>
  <body>
    <!-- header start --------------------------------------------------------->

    <% include partials/header.ejs %>

    <!-- header end ----------------------------------------------------------->

    <!-- navigation start ----------------------------------------------------->

      <% include partials/navigation.ejs %>

    <!-- navigation end ------------------------------------------------------->


      <h1 class="aboutHeadingLarge ">
        <span class="border orangeclr">About</span>
      </h1>
      <div class="icardAbout" >
        <main >
          <div>
            <p class="whiteclr">
              Career fair is the #1 job site in the world1 with over 250 million unique visitors2 every month. Indeed strives to put job seekers first, giving them free access to search for jobs, post resumes, and research companies. Every day, we connect millions of people to new opportunities.
              At Indeed, our mission is to help people get jobs. We have more than 8,900 global employees passionately pursuing this purpose and improving the recruitment journey through real stories and data. We foster a collaborative workplace that strives to create the best experience for job seekers.
              Choice Career Fairs is a top organizer of job fair and career fair events throughout the United States. We have produced thousands of events since 2000 and continue to produce over 130 career fairs in 30 cities annually. With 30 years combined experience in recruitment and employment advertising,
              we are dedicated to connecting America's workforce with hiring employers.
            </p>
          </div>
        </main>
      </div>

      <div id="statistics">
      	<div class="statistics-row">
      		<div class="amount">250M
      		</div>
      		<div class="label orangeclr ">UNIQUE MONTHLY VISITORS
      		</div>
        </div>
      	<div class="statistics-row">
      		<div class="amount">150M</div>
      		<div class="label orangeclr">RESUMES</div>
        </div>
      	<div class="statistics-row">
      		<div class="amount">150M</div>
      		<div class="label orangeclr">TOTAL RATINGS  </div>
      	</div>
      	<div class="statistics-row">
      		<div class="amount">10</div>
      		<div class="label orangeclr">JOBES ADDED PER SECOND </div>
        </div>
      	<div class="statistics-row">
      		<div class="amount">600M</div>
      		<div class="label orangeclr">SALARIES</div>
      	</div>

      </div>


      <!-- Footer start ------------------------------------------------------->

        <% include partials/footer.ejs %>

      <!-- Footer end --------------------------------------------------------->
  </body>
</html>
