
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
    <!-- footer start --------------------------------------------------------->
    <footer class="footer">
      <a class="clr" href="#">&copy;Interaional Fair </a>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="clr" href="../about" >          About     </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="clr" href="../contact">          Contact</a>
        <a href="#" class="dot"><span >f</span></a>
        <a href="#" class="fa fa-google">G</a>

    </footer>
    <!--- footer end ---------------------------------------------------------->
